<div class="container welcome-page">
  <br>
  <div class="header">
    <h1>Welcome to GifFic</h1>
    <p>Where <strong>you</strong> write the story.</p>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="welcome-text">
        <p>(Insert welcome text here)<br>
          (more text)
          <br>
          (even more text)
          <br>
          (even MORE text)
        </p>
      </div>
    </div>
  </div>
  <button class="btn btn-danger btn-lg begin-butt">
    <%= link_to node_path(@next_nodes[0]) do %>
      <span class="button-text">Proceed...</span>
    <% end %>
  </button>
</div>