<div class="container welcome-page">
  <hr>
  <div class="card">
    <div class="card-header">
      <h2>Welcome...</h2>
    </div>
    <div class="card-body">
      <div class="welcome-text">
        <p>(Insert welcome text here)<br>
          (more text)
          <br>
          (even more text)
          <br>
          (even MORE text)
          <br>
        </p>
      </div>
      <button class="btn btn-danger btn-lg begin-butt">
        <%= link_to node_path(@next_nodes[0]) do %>
          <span class="button-text">Begin</span>
        <% end %>
      </button>
    </div>
  </div>
</div>