<div class="next-node">
  <h1>Once upon a time...</h1>
  <div class="row">
    <% @first_nodes.each do |node| %>
      <button class="btn btn-secondary" id="node-button"><%= node.sentence %></button> &emsp;
    <% end %>
  </div>
</div>
<!--<div class="card">-->
<!--  <p class="lead"><%#= @first_node.sentence %></p>-->
<!--  <img class="gif" src="<%#= @first_node.gif_url %>">-->
<!--</div>-->

