@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Neucha";
@import "nodes";

body {
  font-family: "Neucha";
}

.navbar {
  .nav-logo, a {
    display: block;
    margin: 0 auto;
    height: 100px;
  }
}

img.gif {
  display: block;
  margin: 0 auto 3em auto;
  width: 50%;
}

.card {
  p.lead {
    text-align: center;
    font-size: 1.6em;
  }
}

.signature {
  font-size: 0.6em;
  color: #BBBBBB;
}

.begin-butt {
  display: block;
  margin: 0 auto;
  .button-text {
    font-size: 1.5em;
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

.welcome-page {
  h2 {
    text-align: center;
  }

  .welcome-text {
    font-size: 1.2em;
  }
}