@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Neucha";
@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";
@import "nodes";

body {
  font-family: "Neucha";
  background-color: seashell;
}

.navbar {
  .nav-logo, a {
    display: block;
    margin: 1em auto;
    height: 100px;
  }
}

.main-card {
  background-color: snow;
}

img.gif {
  width: 80%;
  display: block;
  margin: 0 auto 1em auto;
}

.signature {
  text-align: right;
  font-size: 0.6em;
  color: #BBBBBB;
}

.card {
  p.lead {
    text-align: center;
    font-size: 1.6em;
  }

  .sentence-card {
    display: block;
    margin: 2em auto 0 auto;
    width: 75%;
    border-width: 3px;
    border-style: wave;
    .sentence {
      margin-top: 1.2em;
    }
  }
}

.begin-butt {
  width: 30%;
  display: block;
  margin: 0 auto;
  .button-text {
    font-size: 1.5em;
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

.welcome-page {
  font-family: "Dosis";
  .header {
    margin-top: 2em;
    text-align: center;
  }

  .welcome-text {
    font-size: 1.2em;
  }

  .card {
    margin: 7.5em auto;
  }
}

.add-passage {
  margin-bottom: 2.5em;
}